/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles 
	#Media Queries
 */




/* #Site Styles
================================================== */

* {
	font-family: 'Arial', 'Helvetica', sans-serif;
}

html {
	height:100%;
}

body {
	background-color:#EEE;
	height:100%;
	background:url('/media/images/subway.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-y: scroll;
}

a.nounderline {
	text-decoration:none;
}

h3 {
	color:#3d4c53;
	text-transform:uppercase;
	font-size:1.2rem;
	font-weight:bold;
	clear:both;
}

p.error {
	text-align: center;
	color: red;
	font-weight: bold;
}

/* #Front Page
================================================== */
div#loginOutButton {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	background-color: #A23E00;
	float:left;
	text-align: center;
	border-radius: 0px 0px 2px 2px;
}

div#loginOutButton a {
	text-decoration:none;
	color:white;
	padding:5px 10px;
	display:block;
}
div#loginOutButton a:hover {
	text-decoration:underline;
}

div#logo {
	width:100%;
	text-align:center;
	color:white;
	overflow:hidden;
}
h1#headerLogo {
	color:white;
	text-shadow: 0px 0px 10px black;
	font-size:4em;
}
h2#headerTagline {
	color:white;
	text-shadow: 0px 0px 10px black;
	font-size:1.6em;
	height: 0;
	position: relative;
	top: -45px;
	right: -226px;
}

div#logoInside {
	text-align:center;
	color:white;
	overflow:hidden;
}
h1#headerLogoInside {
	color:white;
	text-shadow: 0px 0px 10px black;
	font-size:3em;
}
h2#headerTaglineInside {
	color:white;
	text-shadow: 0px 0px 10px black;
	font-size:1.4em;
	height: 0;
	position: relative;
	top: -53px;
	right: -188px;
}

div.content {
	background-color: rgba(255, 255, 255, .8);
	width: 100%;
	padding: 20px 0;
}
span.step {
	display:block;
	font-size:3em;
	line-height:50px;
	margin:0px 0 20px 0;
}
span#step1, span#step2 {
	opacity:0.7;
}
span#step3 {
	font-weight:800;
}

.orangeButton {
	background: rgb(186,79,13); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(186,79,13,1) 0%, rgba(162,62,0,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,79,13,1)), color-stop(99%,rgba(162,62,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(186,79,13,1) 0%,rgba(162,62,0,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(186,79,13,1) 0%,rgba(162,62,0,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(186,79,13,1) 0%,rgba(162,62,0,1) 99%); /* IE10+ */
	background: linear-gradient(top, rgba(186,79,13,1) 0%,rgba(162,62,0,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba4f0d', endColorstr='#a23e00',GradientType=0 ); /* IE6-9 */
	
	border-radius:3px;
	border:1px solid #e26d24;
	color:white !important;
	text-decoration:none;
	padding:10px;
	font-weight:bold;
	cursor:pointer;	
	
}

.orangeButton:hover {
	background: rgb(233,113,40); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(233,113,40,1) 0%, rgba(162,62,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,113,40,1)), color-stop(100%,rgba(162,62,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(233,113,40,1) 0%,rgba(162,62,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(233,113,40,1) 0%,rgba(162,62,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(233,113,40,1) 0%,rgba(162,62,0,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(233,113,40,1) 0%,rgba(162,62,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e97128', endColorstr='#a23e00',GradientType=0 ); /* IE6-9 */
}

.orangeButton:active {
	background: rgb(162,62,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(162,62,0,1) 0%, rgba(185,80,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,62,0,1)), color-stop(100%,rgba(185,80,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(162,62,0,1) 0%,rgba(185,80,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(162,62,0,1) 0%,rgba(185,80,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(162,62,0,1) 0%,rgba(185,80,13,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(162,62,0,1) 0%,rgba(185,80,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a23e00', endColorstr='#b9500d',GradientType=0 ); /* IE6-9 */
}

.greyButton {
	background: rgb(211,211,211); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,211,211,1) 0%, rgba(181,181,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(181,181,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(181,181,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(181,181,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(181,181,181,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(211,211,211,1) 0%,rgba(181,181,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
	
	border-radius:3px;
	border:1px solid #7f7f7f;
	color:black !important;
	text-decoration:none;
	padding:10px;
	cursor:pointer;	

}


.greyButton:hover {
	background: rgb(236,237,236); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(236,237,236,1) 0%, rgba(182,182,182,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,237,236,1)), color-stop(100%,rgba(182,182,182,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(236,237,236,1) 0%,rgba(182,182,182,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(236,237,236,1) 0%,rgba(182,182,182,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(236,237,236,1) 0%,rgba(182,182,182,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(236,237,236,1) 0%,rgba(182,182,182,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedec', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
}

.greyButton:active {
	background: rgb(116,116,115); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(116,116,115,1) 0%, rgba(151,150,151,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(116,116,115,1)), color-stop(100%,rgba(151,150,151,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(116,116,115,1) 0%,rgba(151,150,151,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(116,116,115,1) 0%,rgba(151,150,151,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(116,116,115,1) 0%,rgba(151,150,151,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(116,116,115,1) 0%,rgba(151,150,151,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747473', endColorstr='#979697',GradientType=0 ); /* IE6-9 */	
	
	color:white !important;
}

.blueButton {
	background: rgb(3,100,190); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(3,100,190,1) 0%, rgba(5,91,172,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(3,100,190,1)), color-stop(100%,rgba(5,91,172,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(3,100,190,1) 0%,rgba(5,91,172,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(3,100,190,1) 0%,rgba(5,91,172,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(3,100,190,1) 0%,rgba(5,91,172,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(3,100,190,1) 0%,rgba(5,91,172,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0364be', endColorstr='#055bac',GradientType=0 ); /* IE6-9 */
	
	border-radius:3px;
	border:1px solid #5baaf5;
	color:white !important;
	text-decoration:none;
	padding:10px;
	cursor:pointer;	

}

.darkBlueButton {
	border-radius:3px;
	border:1px solid #293439;
	color:white !important;
	text-decoration:none;
	cursor:pointer;	
	text-shadow:0px 0px 3px black;
	float: left;
	padding: 4px;
	margin-top: 9px;
	margin-left: 9px;
	margin-right: 9px;
	margin-bottom: 0;


	background: rgb(86,108,118); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(86,108,118,1) 0%, rgba(73,91,100,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,108,118,1)), color-stop(100%,rgba(73,91,100,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(86,108,118,1) 0%,rgba(73,91,100,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(86,108,118,1) 0%,rgba(73,91,100,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(86,108,118,1) 0%,rgba(73,91,100,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(86,108,118,1) 0%,rgba(73,91,100,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#566c76', endColorstr='#495b64',GradientType=0 ); /* IE6-9 */
}

a#googleLogin {
	clear:both;
	width:230px;
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:20px;
	font-size:1.5em;
	margin-bottom:40px;
}

a#getStarted, a#alreadyHaveAccount {
	margin: 0 auto;
	text-align:center;
	display:block;
	width:200px;

}


a#getStarted {
	margin: 0 auto;
	text-align:center;
	display:block;
	font-size:2em;
	width:200px;
	padding-top: 30px;
	padding-bottom: 30px;
}

a#alreadyHaveAccount {
	margin-top:20px;
}

a.signUp {
	text-align: center;
	font-style: italic;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

input[type='text'], input[type='password'], textarea {
    height: 44px;
    border: 1px solid #bababa;
    border-radius: 0px 3px 3px 0px;
    font-size: 1.7em;
    padding-left: 10px;
    margin-bottom:20px;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.2);
    float:left;
    margin-left:0;
    width:80%;
}
input[type='text']:focus, input[type='password']:focus, textarea:focus {
	outline:none;
	border: 1px solid black;
}

textarea {
    border-radius: 3px;
    width:95%;
    font-size:1rem;
    padding: 10px;
    height:100px;
}


label.labelIcon {
	width:44px;
}

label.textLabel {
	width:100px;
	font-size:1.2em;
	font-weight:bold;
}

label.labelIcon, label.fancyLabel {
	height:35px;
	background-color:red;
	display:block;
	float:left;
	text-align:center;
	padding-top:11px;
	border-radius:3px 0 0 3px;	
	border:1px solid #bababa;
	border-right:none;
	clear:both;
	
	background: rgb(251,251,250); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(251,251,250,1) 0%, rgba(197,196,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,250,1)), color-stop(100%,rgba(197,196,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(251,251,250,1) 0%,rgba(197,196,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(251,251,250,1) 0%,rgba(197,196,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(251,251,250,1) 0%,rgba(197,196,197,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(251,251,250,1) 0%,rgba(197,196,197,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfa', endColorstr='#c5c4c5',GradientType=0 ); /* IE6-9 */
}

input.passwordInput {
	margin-bottom:-1px;
}
label.passwordLabel {
	padding-top:38px;
	height:55px;
}

input#registrationSubmit {
    margin-top: 100px;
    position: relative;
    top: 20px;
    margin-bottom:10px;

}

input#registrationSubmit, input#loginSubmit {
    clear: both;
    width: 175px;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.topUsername {
	font-weight:400;
	text-transform:lowercase;
}

select {
	margin:0;
    height: 48px;
    display: block;
    float: left;
    font-size: 1.2em;
    outline: none;
    border: none;
    -webkit-appearance: button;
    border-radius:0;
    width:100px;
    padding:0 10px;
    border:1px solid #bababa;
    border-right: none;
    background-image:url('/media/images/icon-downarrow.png');
    background-position:right center;
    background-repeat:no-repeat;
    padding-right:25px;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.2);
    margin-bottom:25px;
}
select:focus {
	border:1px solid black !important;
}
#id_start_date_year, #id_end_date_year {
    border-right:1px solid #bababa;
	border-radius: 0px 3px 3px 0px;
}
#id_start_date_month, #id_end_date_month {
	width:200px;
}
#id_start_date_day, #id_end_date_day {
	width:61px;
}

p.fieldInstructions {
	margin: 0;
	padding: 0;
	font-style: italic;
}

#addItinerary {
	width:100%;
	font-size:1.3em;
	margin-bottom:20px;
}

/* #Inside Styles
================================================== */
div.insideContent {
	background-color:rgba(255, 255, 255, 0.8);
	border:1px solid rgba(255, 255, 255, 0);
}

div.insideHeader {
	background-color:#3d4c53;
	border:1px solid #5c6d74;
	border-bottom:none;
}

h1.header {
	margin-bottom: 0;
	padding: 10px;
	color: white;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
}

ul.blockListing li {
	height:44px;
	border-bottom:1px solid #797979;
}
ul.blockListing li:hover {
	height:44px;
	border-bottom:1px solid black;
}

a.itineraryName {
	text-decoration: none;
	font-size: 1.5em;
	color: #3C3C3C;
	padding-top: 10px;

}
a.itineraryName:hover {
	color:black;
}
a.itineraryName span.itineraryDate {
	display:block;
	font-size: 0.56em;
	text-transform: uppercase;
	font-weight: 800;
	color: #707070;
}

a.itinerary_edit_button {
	background-image:url('/media/images/icon-pencil.png');
	width:24px;
	height:25px;
	display:block;
	float: right;
	position: relative;
	top: -31px;
	opacity: 0.3;
}
a.itinerary_edit_button:hover {
	opacity:0.6;
}

button#newItinerary {
	width: 100%;
	font-size: 1.7em;
	margin-bottom: 19px;
	margin-top: 10px;
}

li.selected {
	font-weight: bold;
	border-bottom: 2px solid black !important;
}
li.selected a {
	opacity:0.8;
	color:black;
}
li.selected a:hover {
	opacity:0.8;
}
li.selected a.itinerary_edit_button {
	background-image:url('/media/images/icon-arrowright.png');
	right: -10px;
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		span.step {
			font-size:2.5em;
		}
		input[type="text"], input[type="password"], textarea {
			width:75%;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		span.step {
			font-size:2em;
		}
		h2#headerTagline {
			height: auto;
			position: static;
			margin-top:-20px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		body {
			background-image: none !important;
			background-color:#EEE !important;
		}
		span.step {
			line-height:normal;
		}
		h1#headerLogo, h2#headerTagline, h1#headerLogoInside {
			text-shadow: none;
			color:#888;
		}
		h2#headerTaglineInside {
			display:none;
		}
		h1#headerLogoInside {
			margin-bottom: 16px;
			margin-top: 0;
			line-height: 1em;
			font-size:2em;	
		}
		input[type='text'], input[type='password'] {
			width:70%;
		}
		label.labelIcon {
			height:44px;
		}
		label.passwordLabel {
			height:73px;
		}
	}
