
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Itinerod</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/media/home/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/home/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/home/css/slide.css" type="text/css" media="screen" />

    <!-- jQuery - the core -->
    <script src="/media/home/js/jquery-1.3.2.min.js" type="text/javascript"></script>
    <!-- LogIn sliding effect -->
    <script src="/media/home/js/slide.js" type="text/javascript"></script>

</head>

<body>

<!-- Panel -->
<div id="toppanel">
	<div id="panel">
		<div class="content clearfix">
			<div class="left">
				<h1>Welcome to Itinerod</h1>
				<img src="/media/home/images/ologo.png" alt="oicon"/>
				<h2>A Collaboritive Trip Planning Tool</h2>		
				<p class="grey">Short description of itinerod, currently have 					a writers block filler filler filler filler filler filler 					filler filler filler</p>
			</div>
			<div class="left">
				<!-- Login Form -->
					<h1>Member Login</h1>
					<!--<label class="grey" for="log">Email:</label>
					<input class="field" type="text" name="log" id="log" value="" size="23" />
					<label class="grey" for="pwd">Password:</label>
					<input class="field" type="password" name="pwd" id="pwd" size="23" />
	            	<label><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> &nbsp;Remember me</label>
        			<div class="clear"></div>
					<input type="submit" name="submit" value="Login" class="bt_login" />
					<a class="lost-pwd" href="#">Lost your password?</a>
				</form>-->
			{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
			{% endif %}
			<form method="post" action="/accounts/login/">
			{% csrf_token %}
				{{ form.username.label_tag }}
				{{ form.username }}
				{{ form.email.label_tag }}
				{{ form.email }}
				{{ form.password1.label_tag }}
				{{ form.password1 }}
				{{ form.password2.label_tag }}
				{{ form.password2 }}

				<label><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> &nbsp;Remember me</label>
        			<div class="clear"></div>
			<input type="submit" value="login" class="bt_login" />
			<input type="hidden" name="next" value="{{ next }}" />
			<a class="lost-pwd" href="#">Lost your password?</a>
			</form>

      <br/>
      <a href="/google/login/" class="google-button">Login with Google</a>
      <br/>


			</div>
			<div class="left right">			
				<!-- Register Form -->
					<h1>Not a member yet? Sign Up!</h1>				
					<!--<label class="grey" for="email">Username:</label>
					<input class="field" type="text" name="email" id="email" value="" size="23" />
					<label class="grey" for="password">Enter Password:</label>
					<input class="field" type="text" name="email" id="email" size="23" />
					<label class="grey" for="repassword">Re-enter Password:</label>
					<input class="field" type="text" name="repassword" id="repassword" value="" 						size="23" />
					<input type="submit" name="submit" value="Register" class="bt_register" />
				</form>-->
				<form action="/accounts/register/" method="POST">{% csrf_token %}
          <table>
					    {{ registration_form.as_table}}
            </table>
					<p>
					    <input type="submit" value="submit" class="bt_login"/>
					</p>
					</form>
			</div>
		</div>
</div> <!-- /login -->	

	<!-- The tab on top -->	
	<div class="tab">
		<ul class="login">
			<li class="left">&nbsp;</li>
			{% if user.is_authenticated%}
			<li>Hello {{user.email }}</li>
			{% else %}
			<li>Hello Guest!</li>
			{% endif %}
			<li class="sep">|</li>
			<li id="toggle">
				<a id="open" class="open" href="#">Log In | Register</a>
				<a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
			</li>
			<li class="right">&nbsp;</li>
		</ul> 
	</div> <!-- / top -->
	
</div> <!--panel -->
    
	
	
	<div id="main">
	

    	<div class="container">

        	<div id="header">
				
            	<div id="logo">
                	<h1>itinerod</h1>
                    <small>Travel Simplified</small>
                </div>
				
            </div>

            <div id="block_feature">
			
			

             <div id="block_featured" class="block">
				
            	<div class="block_inside">
                
                	<div class="image_block">
                    	<img src="/media/home/images/airplaneabstract.png" alt="TravelPic"/>
                    </div>
                    <div class="text_block">
                        <h2>A Collaborative Trip</h2>
			<h2>Planning Tool</h2>
			<p></p>
                            
                        <p>Itinerod is a travel app to customize your next trip or vacation. Make interaries, share with friends, have fun! Filler filler filler filler sample filler filler aksjfakhg adkgjasgkj </p>
                        <br />
                        <!-- <a href="" class="button">Sign up Now!</a> -->
                	</div>
                    
                </div>
            </div>
			</div>
			 <div id="block_portfolio">
             
            	<div id="mid_port">
                
                	<div class="mini_portfolio_item">
                    	
                    	<div class="block_inside">
                            <img src="/media/home/images/places.jpg" class="thumbnail" alt="travelDest" />
                            <h3>Select your Travel Destination</h3>
                            <p>Whether it would be New York to Paris, choose any destination and view (description of api usages currently in place)<a href="#">Sample Itinerary</a></p>
                        </div>                    
                    </div>
				</div>
				<div id="mid_port">
					<div class="mini_portfolio_item">
                    	<div class="block_inside">
                            <img src="/media/home/images/itinerary.jpg" class="thumbnail"  alt="customizeItin" />
                            <h3>Customize your Itinerary</h3>
                            <p>Add locations to your trip and find... filler filler <a href="#">Sample API usage</a></p>
                        </div>                    
                    </div>
                    </div>
					<div id="portfolio_items">
                    <div class="mini_portfolio_item">
                    	<div class="block_inside">
                            <img src="/media/home/images/people.jpg" class="thumbnail" alt="collaborate"  />
                            <h3>Share with Friends!</h3>
                            <p>Invite your friends to join and collaborate on your itinerary. Schedule excursions, vote for events, and embark on adventure!</p>
                        </div>                    
                 
					</div>
                   
              </div>
			  </div>
                </div>
			
                

    </div>

     <div id="footer">
    	<div class="container">
        
        	<div class="footer_column long">
                <h3>(C) UCLA IBM Team 1</h3>
                <p>Nick Molina, ... add names just filler for now</p>
			</div>

	        <div class="footer_column">
                <h3>Random Links (social media to be added on)</h3>
				<ul>
                    <li><a href="http://www.cs.ucla.edu/classes/spring12/cs130">Course Syllabus</a></li>
            		<li><a href="http://www.github.com">GitHub wiki</a></li>
                    </ul>
            </div>
            
            
        
        </div>
    </div>
</body>
</html>
