<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
      <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsGA492uOZ1mHV4Xri6cDZSONnI8axroI&sensor=false">
    </script>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
  <script>


  $(document).ready(function() {
  
      //Insert the Expansion/contraction of div related code
      $(".event_details").hide();

      $(".event").click(function(){
           //TODO: is there a better way to do the following?
           $(this).next().next().next().slideToggle('slow');
      });


      //
      //Below are the API call related Jquery functions
      //
      $(".weather").click(function() {
        var weather_location = "Los Angeles";
        var weatherURL = "http://www.google.com/ig/api?hl=zh-cn&weather="+Location ;
        var weatherRequest;    //holds weather API response
        var weatherRequestURL = weatherURL;


        $.ajax({
        type:"GET",
         url: weatherURL
        }).done(function(html) {
        //   TODO: PUT IN WEATHER API RESULTS IN HTML
        });

      });
      $(".events").click(function() {
        var events_location = "Los Angeles";
        var eventsURL = "http://api.eventful.com/rest/events/rss?app_key=NsjwnNS4hKSqXP6J&keywords=concerts&location="+events_location+"&sort_order=date";
        var eventsRequest;    //holds Eventful api response
        var eventsRequestURL = eventsURL;

        $.ajax({
        type:"GET",
         url: weatherURL
        }).done(function(html) {
        //   TODO: PUT IN EVENTFUL API RESULTS IN HTML
        });

      });

      $(".map").click(function() {
         var map_x_axis = 34.063361;
         var map_y_axis = -118.444419;
         var myOptions = {
         center: new google.maps.LatLng( map_x_axis,map_y_axis ),
         zoom: 8,
         mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementByClass("event_details"),
            myOptions);
//        $(".event_details").gMap();
      });

      $(".food").click(function() {

         var YWSID = "SrSxxs4TLunMcU3cQ8cp_A"; // common required parameter (api key)

             /*
         * Construct the URL to call for the API request
         */
        function constructYelpURL(){
            var URL = "http://api.yelp.com/" +
                "business_review_search?"+
  //              "callback=" + "showYelpResults" +
                "&term=food" +
                "&num_biz_requested=10" +
                "&ywsid=" + YWSID  +
                "&location=Los+Angeles";
            return encodeURI(URL);
        }

        var yelpRequest;    //holds yelp api response
        var yelpRequestURL = constructYelpURL();

         $.ajax({
        type:"GET",
        dataType:"json",
         url: yelpRequestURL+"&callback=?",
         contextType: "application/json"

        }).done(function(html) {
        var businesses = html.businesses;

        $(".event_details").html("Food Places" + "<br />");

        for(var i=0, len = businesses.length; i< len; ++i)
        {
                var business = businesses[i];
                $("#LA_event_details").append("<br />"+business.name);
        }
      });
      
      });

  });


  </script>
</head>
<body> 
<div id="content" />
<h1 class="pageTitle">View itinerary</h1>
 
{% for location in itinerary.location_set.all %}
  
	<h2 class="location">{{ location.name }}</h2>
	  {% for event in location.event_set.all %}
	  <div>
	  <h3 class="event">{{ event.name }}</h3>
	  <span class="date">{{ event.start_time}} &mdash; {{ event.end_time }}</span>
	  <div class="icons">
		<img src="/media/images/calendar.png" class="events" alt="events_1" />
		<img src="/media/images/map.png" class="map" alt="Map" />
		<img src="/media/images/food.png" class="food" alt="Food" />
		<img src="/media/images/weather.png" class="weather" alt="Weather" href="#"/>
		</div>
	   <div id="{{ location.name }}_event_details" class = "event_details" style="margin:10px auto; height: 50ex; width: 50ex; display: block; border-style: solid; border-width: thin;">
           </div>
	{% endfor %}
    </div>
	</div>
		
{% endfor %}

</div>


</body>
</html>
