<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsGA492uOZ1mHV4Xri6cDZSONnI8axroI&sensor=false">
        </script>
        
        <script type="text/javascript" src="http://api.eventful.com/js/api"></script>
        
        <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
        <script>
            
            $(document).ready(function() {
                              
                              var map;
                              var geocoder;
                              var map_center_marker;
                              var infowindow = new google.maps.InfoWindow();
                              
                              // images for marker on the map
                              var yelpImage = new google.maps.MarkerImage('/media/images/yelp.png',
                                                                           new google.maps.Size(32, 32),
                                                                           new google.maps.Point(0,0));
                              
                              var eventfulImage = new google.maps.MarkerImage('/media/images/eventful.png',
                                                                          new google.maps.Size(32, 32),
                                                                          new google.maps.Point(0,0));
                              
                              
                              
                              
                              //Insert the Expansion/contraction of div related code
                              $(".event_details").hide();
                              
                              $(".event").click(function(){
                                                
                                                $(".event_details").hide();
                                                
                                                $(this).next().next().next().toggle();
                                                
                                                var eventname = $(this).attr('eventname');
                                                var eventlocation = $(this).attr('location');
                                                var id = eventname + "_" + eventlocation + "_event_details";
                                                
                                                var myOptions = {
                                                center: new google.maps.LatLng(34.063361, -118.444419),
                                                zoom: 12,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                                };
                                                
                                                map = new google.maps.Map(document.getElementById(id),
                                                                          myOptions);
                                                //TODO might need to fix address for geocoding.. using event name for now (but it might not work)
                                                geocoder = new google.maps.Geocoder();
                                                geocoder.geocode( { 'address': eventname + " " + eventlocation}, function(results, status) {
                                                                 if (status == google.maps.GeocoderStatus.OK) {
                                                                 map.setCenter(results[0].geometry.location);
                                                                 map_center_marker = new google.maps.Marker({
                                                                                                     map: map, 
                                                                                                     position: results[0].geometry.location
                                                                                                     });
                                                                 
                                                                 } else {
                                                                 alert("Geocode was not successful for the following reason: " + status);
                                                                 }
                                                                 });
                                                
                                                
                                                });
                              
                              
                              //
                              //Below are the API call related Jquery functions
                              //             
                            
                              $(".weather").click(function() {
                                                  
                                                  
                                                  var eventname = $(this).attr('eventname');
                                                  var eventlocation = $(this).attr('location');
                                                  var id = eventname + "_" + eventlocation + "_event_details";

                                                  var apikey = "a0a9c11f72d6cdc2";  // raymond's key
                                            
                                                  var lat = map.getCenter().lat();
                                                  var long = map.getCenter().lng();
                                                  
                                                  var weatherURL = "http://api.wunderground.com/api/"+ apikey + "/forecast/q/" + lat + "," + long + ".json"
                                                  var weatherRequestURL = encodeURI(weatherURL);
                                                  
                                                  $.ajax({
                                                         type:"GET",
                                                         dataType:"jsonp",
                                                         url: weatherRequestURL
                                                         
                                                         }).done(function(json) {
                                                                 
                                                                 var forecast = json.forecast.simpleforecast.forecastday;
                                                                 
                                                                 var html = "<b>Weather</b> for <b>" + eventlocation +"</b><br/><table width=250>";

                                                                 var i;
                                                                 for (i = 0; i < forecast.length; i++) {
                                                                 
                                                                 html = html +
                                                                 "<tr>" +
                                                                 "<td valign=\"middle\">" + forecast[i].date.weekday + "</td>" +
                                                                 "<td valign=\"middle\">" + forecast[i].high.fahrenheit + "</br>" + forecast[i].low.fahrenheit + "</td>" +
                                                                 "<td valign=\"middle\"><img src=\"" + forecast[i].icon_url + "\" /></td>" +
                                                                 "</tr>";

                                                                 }
                                                                 
                                                                 html = html + "</table>"
                                                                 
                                                                 infowindow.setContent(html);
                                                                 infowindow.open(map, map_center_marker);
                                                                 
                                                                 });
                                                  });
                              
                              
                              
                              
                              $(".events").click(function() {

                                                 
                                                 var eventname = $(this).attr('eventname');
                                                 var eventlocation = $(this).attr('location');
                                                 var id = eventname + "_" + eventlocation + "_event_details";
                                                 
                                                 var apikey = "NsjwnNS4hKSqXP6J";  // pralavs's key
                                                 
                                                 var lat = map.getCenter().lat();
                                                 var long = map.getCenter().lng();
                                                 
                                                 // args for eventful API ... //TODO figure out dates of itinerary
                                                 
                                                 var oArgs = { app_key: "NsjwnNS4hKSqXP6J",
                                                                category: "music",
                                                                location: lat+","+long,
                                                                within: 5,
                                                                units: "mi",
                                                                sort_order: "popularity",
                                                                page_size: 10};
                                                 
                                                 EVDB.API.call("/events/search", oArgs, function(oData)
                                                               {
                                                               // Note: this relies on the custom toString() methods below
                                                               
                                                               var events = oData.events.event;
                                                               
                                                               var marker, i;
                                                               
                                                               for (i = 0; i < events.length; i++) {
                                                               
                                                               lat = events[i].latitude;
                                                               long = events[i].longitude;
                                                               
                                                               var marker = new google.maps.Marker({
                                                                                                   map: map, 
                                                                                                   position: new google.maps.LatLng(lat, long), 
                                                                                                   icon: eventfulImage,
                                                                                                   animation: google.maps.Animation.DROP
                                                                                                   });
                                                               
                                                               
                                                               google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                                                                                               return function() {
                                                                                                               
                                                                                                               var event = events[i];

                                                                                                               var content = "<a href=\"" + event.url + "\" target=\"_blank\">" +
                                                                                                               event.title + "</a></br>" + "Date: " + event.start_time + "</br></br>";
                                                                                                               
                                                                                                               if(event.venue_name)
                                                                                                                content = content + event.venue_name + "</br>";
                                                                                                               if(event.venue_address)
                                                                                                                content = content + event.venue_address + "</br>";
                                                                                                               content = content + event.region_name;
  
                                                                                                               infowindow.setContent(content);
                                                                                                               infowindow.open(map, marker);
                                                                                                               }
                                                                                                               })(marker, i));
                                                               
                                                               
                                                               
                                                               }
  
                                                               });
                                                
                                                 

                                                 
                                                 });
                              
                              
                              $(".map").click(function() {
                                              
                                              var eventname = $(this).attr('eventname');
                                              var eventlocation = $(this).attr('location');
                                              var id = eventname + "_" + eventlocation + "_event_details";
                                              
                                              var myOptions = {
                                              center: new google.maps.LatLng(34.063361, -118.444419),
                                              zoom: 12,
                                              mapTypeId: google.maps.MapTypeId.ROADMAP
                                              };
                                              
                                              // global variable
                                              map = new google.maps.Map(document.getElementById(id),
                                                                            myOptions);
                                              
                                              //TODO might need to fix address for geocoding.. using event name for now (but it might not work)
                                              geocoder = new google.maps.Geocoder();
                                              geocoder.geocode( { 'address': eventname + " " + eventlocation}, function(results, status) {
                                                               if (status == google.maps.GeocoderStatus.OK) {
                                                               map.setCenter(results[0].geometry.location);
                                                               map_center_marker = new google.maps.Marker({
                                                                                                   map: map, 
                                                                                                   position: results[0].geometry.location
                                                                                                   });
                                                               } else {
                                                               alert("Geocode was not successful for the following reason: " + status);
                                                               }
                                                               });

                                              });
                              
                              
                              $(".food").click(function() {
                                               
                                               
                                               var eventname = $(this).attr('eventname');
                                               var eventlocation = $(this).attr('location');
                                               var id = eventname + "_" + eventlocation + "_event_details";
                                               
                                               //var YWSID = "SrSxxs4TLunMcU3cQ8cp_A"; // pralav's key
                                               
                                               var YWSID = "JhY46juaZYUVv4n7md3nig";  // raymond's key
                                               
                                               var lat = map.getCenter().lat();
                                               var long = map.getCenter().lng();
                                               
                                               // number of restaurants to request
                                               var request_num = 10;
                                               
                                               /*
                                                * Construct the URL to call for the API request
                                                */
                                               function constructYelpURL(){
                                               var URL = "http://api.yelp.com/" +
                                               "business_review_search?" +
                                               "&term=food" +
                                               "&num_biz_requested=" + request_num +
                                               "&ywsid=" + YWSID  +
                                               "&location=" + eventname + " " + eventlocation;
                                               //"&cll=" + lat + "," + long;
                                               return encodeURI(URL);
                                               }
                                               
                                               var yelpRequestURL = constructYelpURL();
                                               
                                               $.ajax({
                                                      type:"GET",
                                                      dataType:"json",
                                                      url: yelpRequestURL+"&callback=?",
                                                      contextType: "application/json"
                                                      
                                                      }).done(function(json) {
                                                              
                                                              var businesses = json.businesses;
                                                              
                                                              var marker, i;

                                                              for(i=0; i < businesses.length; ++i)
                                                              {
                                                              
                                                              lat = businesses[i].latitude;
                                                              long = businesses[i].longitude;
                                                              
                                                              var marker = new google.maps.Marker({
                                                                                                  map: map, 
                                                                                                  position: new google.maps.LatLng(lat, long), 
                                                                                                  icon: yelpImage,
                                                                                                  animation: google.maps.Animation.DROP
                                                                                                  });
                                    
                                                              
                                                              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                                                                                              return function() {
                                                                                                              
                                                                                                              var business = businesses[i];
                                                                                                              
                                                                                                              
                                                                                                              var content = "<a href=\"" + business.url + "\" target=\"_blank\">" +
                                                                                                                            business.name + "</a></br>" +
                                                                                                                            "<img src=\"" + business.rating_img_url + "\" /></br>" +
                                                                                                                            "Category: " + business.categories[0].category_filter + "</br></br>";
                                                                                                              
                                                                                                              if (business.address1)
                                                                                                                content = content + business.address1 + "</br>";
                                                                                                              if (business.address2)
                                                                                                                content = content + business.address2 + "</br>";
                                                                                                    
                                                                                                               content = content + business.city + ", " + business.state + " " +
                                                                                                                            business.zip + "</br>" + business.phone;
                                                                                                              
                                                                                                              infowindow.setContent(content);
                                                                                                              infowindow.open(map, marker);
                                                                                                              }
                                                                                                              })(marker, i));
                                                              }
                                                              });
                                               
                                               
                                               });
                              
                              });
            
            
            </script>
    </head>
    <body> 
        <div id="content" />
        <h1 class="pageTitle">View itinerary</h1>
        {% csrf_token %}
        {{vote_form_set}}
        {% for event in itinerary.event_set.all %}
        <div>
            <h3 class="event" eventname="{{ event.name }}" location="{{ event.location }}" >{{ event.name }}</h3>
            <span class="date">{{ event.start_time}} &mdash; {{ event.end_time }}</span>
            <div class="icons">
                <img src="/media/images/weather.png" class="weather" eventname="{{ event.name }}" location="{{ event.location }}" alt="Weather" href="#"/>
                <img src="/media/images/gmap.png" class="map" eventname="{{ event.name }}" location="{{ event.location }}" alt="Map" />
                <img src="/media/images/yelp.png" class="food" eventname="{{ event.name }}" location="{{ event.location }}" alt="Food" />
                <img src="/media/images/eventful.png" class="events" eventname="{{ event.name }}" location="{{ event.location }}" alt="events_1" />
            </div>
            <div id="{{ event.name }}_{{ event.location }}_event_details" class="event_details" style="margin:10px auto; height: 60ex; width: 80ex; display: block; border-style: solid; border-width: thin;">Click something!
            </div>
	    {% for vote in vote_set.all %}
	       {% if vote.event == event %}
	          {{vote.user}} voted: {{vote.vote}}
	       {% endif %}
	    {% endfor %}
            {% endfor %}
        </div>
        </div>
        
        
        </div>
        
        
    </body>
</html>
