<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsGA492uOZ1mHV4Xri6cDZSONnI8axroI&sensor=false">
            </script>
        <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
        <script>
            
            $(document).ready(function() {
                              
                              var map;
                              var geocoder;
                              
                              
                              //Insert the Expansion/contraction of div related code
                              $(".event_details").hide();
                              
                              $(".event").click(function(){
                                                
                                                $(".event_details").hide();
                                                
                                                $(this).next().next().next().toggle();
                                                
                                                var eventname = $(this).attr('eventname');
                                                var eventlocation = $(this).attr('location');
                                                var id = eventname + "_" + eventlocation + "_event_details";
                                                
                                                var myOptions = {
                                                center: new google.maps.LatLng(34.063361, -118.444419),
                                                zoom: 12,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                                };
                                                
                                                map = new google.maps.Map(document.getElementById(id),
                                                                          myOptions);
                                                
                                                //TODO might need to fix address for geocoding.. using event name for now
                                                geocoder = new google.maps.Geocoder();
                                                geocoder.geocode( { 'address': eventname + " " + eventlocation}, function(results, status) {
                                                                 if (status == google.maps.GeocoderStatus.OK) {
                                                                 map.setCenter(results[0].geometry.location);
                                                                 var marker = new google.maps.Marker({
                                                                                                     map: map, 
                                                                                                     position: results[0].geometry.location
                                                                                                     });
                                                                 
                                                                 } else {
                                                                 alert("Geocode was not successful for the following reason: " + status);
                                                                 }
                                                                 });
                                                
                                                
                                                });
                              
                              //
                              //Below are the API call related Jquery functions
                              //             
                              $(".weather").click(function() {
                                                  
                                                  
                                                  var eventname = $(this).attr('eventname');
                                                  var eventlocation = $(this).attr('location');
                                                  var id = eventname + "_" + eventlocation + "_event_details";
                                                  
                                                  var weatherURL = "http://www.google.com/ig/api?hl=eng&weather="+eventlocation ;
                                                  var weatherRequest;    //holds weather API response
                                                  var weatherRequestURL = weatherURL;
                                                  
                                                  
                                                  
                                                  
                                                  /*
                                                   
                                                   Doesn't work
                                                   
                                                   $.ajax({
                                                   type:"GET",
                                                   dataType:"xml",
                                                   url: weatherURL,
                                                   contentType: "text/xml; charset=iso-8859-1"
                                                   
                                                   }).done(function() {
                                                   
                                                   
                                                   alert("lalal");
                                                   
                                                   
                                                   });
                                                   
                                                   */
                                                  });
                              
                              
                              
                              
                              
                              
                              $(".events").click(function() {
                                                 var events_location = "Los Angeles";
                                                 var eventsURL = "http://api.eventful.com/rest/events/rss?app_key=NsjwnNS4hKSqXP6J&keywords=concerts&location="+events_location+"&sort_order=date";
                                                 var eventsRequest;    //holds Eventful api response
                                                 var eventsRequestURL = eventsURL;
                                                 
                                                 $.ajax({
                                                        type:"GET",
                                                        url: weatherURL
                                                        }).done(function(html) {
                                                                //   TODO: PUT IN EVENTFUL API RESULTS IN HTML
                                                                });
                                                 
                                                 });
                              
                              
                              /*$(".map").click(function() {
                               
                               var eventname = $(this).attr('eventname');
                               var eventlocation = $(this).attr('location');
                               var id = eventname + "_" + eventlocation + "_event_details";
                               
                               var myOptions = {
                               center: new google.maps.LatLng(34.063361, -118.444419),
                               zoom: 12,
                               mapTypeId: google.maps.MapTypeId.ROADMAP
                               };
                               
                               var map = new google.maps.Map(document.getElementById(id),
                               myOptions);
                               
                               //TODO might need to fix address for geocoding.. using event name for now
                               geocoder = new google.maps.Geocoder();
                               geocoder.geocode( { 'address': eventname + " " + eventlocation}, function(results, status) {
                               if (status == google.maps.GeocoderStatus.OK) {
                               map.setCenter(results[0].geometry.location);
                               var marker = new google.maps.Marker({
                               map: map, 
                               position: results[0].geometry.location
                               });
                               } else {
                               alert("Geocode was not successful for the following reason: " + status);
                               }
                               });
                               
                               
                               
                               
                               
                               
                               }); */
                              
                              
                              $(".food").click(function() {
                                               
                                               
                                               var eventname = $(this).attr('eventname');
                                               var eventlocation = $(this).attr('location');
                                               var id = eventname + "_" + eventlocation + "_event_details";
                                               
                                               // pralav's
                                               //var YWSID = "SrSxxs4TLunMcU3cQ8cp_A"; // common required parameter (api key)
                                               
                                               var YWSID = "JhY46juaZYUVv4n7md3nig";  // raymond's key
                                               
                                               var lat = map.getCenter().lat();
                                               var long = map.getCenter().lng();
                                               
                                               /*
                                                * Construct the URL to call for the API request
                                                */
                                               function constructYelpURL(){
                                               var URL = "http://api.yelp.com/" +
                                               "business_review_search?"+
                                               //              "callback=" + "showYelpResults" +
                                               "&term=food" +
                                               "&num_biz_requested=10" +
                                               "&ywsid=" + YWSID  +
                                               "&location=" + eventname + " " + eventlocation;
                                               //"&cll=" + lat + "," + long;
                                               return encodeURI(URL);
                                               }
                                               
                                               var yelpRequest;    //holds yelp api response
                                               var yelpRequestURL = constructYelpURL();
                                               
                                               $.ajax({
                                                      type:"GET",
                                                      dataType:"json",
                                                      url: yelpRequestURL+"&callback=?",
                                                      contextType: "application/json"
                                                      
                                                      }).done(function(html) {
                                                              
                                                              var businesses = html.businesses;
                                                              
                                                              //document.getElementById(id).innerHTML = "Food Places" + "<br />";
                                                              
                                                              for(var i=0, len = businesses.length; i< len; ++i)
                                                              {
                                                              var business = businesses[i];
                                                              
                                                              lat = business.latitude;
                                                              long = business.longitude;
                                                              
                                                              
                                                              var marker = new google.maps.Marker({
                                                                                                  map: map, 
                                                                                                  position: new google.maps.LatLng(lat, long)
                                                                                                  });
                                                              
                                                              
                                                              
                                                              
                                                              //var html = document.getElementById(id).innerHTML;
                                                              //document.getElementById(id).innerHTML = html + "<br/>"+business.name+" lat: "+lat;
                                                              
                                                              // don't know how to do append in javascript (couldn't get jquery to work) - raymond
                                                              //$(".event_details").append("<br />"+business.name);
                                                              }
                                                              });
                                               
                                               
                                               });
                              
                              });
            
            
            </script>
    </head>
    <body> 
        <div id="content" />
        <h1 class="pageTitle">View itinerary</h1>
        {% csrf_token %}
	{{vote_form_set}}
        {% for event in itinerary.event_set.all %}
        <div>
            <h3 class="event" eventname="{{ event.name }}" location="{{ event.location }}" >{{ event.name }} </h3>
            <span class="date">{{ event.start_time}} &mdash; {{ event.end_time }}</span>
            <div class="icons">
                <img src="/media/images/calendar.png" class="events" eventname="{{ event.name }}" location="{{ event.location }}" alt="events_1" />
                <!--	<img src="/media/images/map.png" class="map" eventname="{{ event.name }}" location="{{ event.location }}" alt="Map" /> -->
                <img src="/media/images/food.png" class="food" eventname="{{ event.name }}" location="{{ event.location }}" alt="Food" />
                <img src="/media/images/weather.png" class="weather" name="{{ event.name }}" location="{{ event.location }}" alt="Weather" href="#"/>
            </div>
            <div id="{{ event.name }}_{{ event.location }}_event_details" class="event_details" style="margin:10px auto; height: 50ex; width: 50ex; display: block; border-style: solid; border-width: thin;">Click something!
            </div>
            {% endfor %}
        </div>
        </div>
        
        
        </div>
        
        
    </body>
</html>
