<!DOCTYPE html>
<html>
<head>
	<title>Profile :: Itinerod</title>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
	<script>
              $(document).ready(function() {

                  $( ".datepicker" ).datepicker();    //from jquery ui for date selection.. check out at a later time
                  
                   //Expansion/contraction of div related code
                  $(".event").live('click',function(){
                           $(this).next().slideToggle('slow');
                           });
                           
                  //Save button clicks in edit event details tab
                  $(".event_edit_save").live('click',function(){
                             alert("hi");
                             alert($(this).parent().attr("id"));
                            });

                  $(".itenerary_edit_button").click(function(){
                  
                                 var currentId = $(this).attr('id');

                                 $.ajax({
                                 type:"GET",
                                 url: "http://localhost:8000/api/itinerod/itinerary/"+currentId+"/?format=json"+"&callback=?",
                                 contextType: "application/json"
                                      }).done(function(html) {

                                          var div_html = "";
                                          div_html += "<h2> Edit Itineraries </h2>" ;

                                          var events = html.events;

                                          for(var i=0, len = events.length; i< len; ++i)
                                          {
                                          
                                                  div_html += "<div id="+events[i].id+">";
                                                  div_html += "<h3 class='event'>"+ events[i].name +"</h3>" ;
                                                  div_html += "Click Event to expand/contract edit details";
                                                  div_html += "<div class='event_details'>";
                                                  div_html += "Location: <input type='text' value= '"+ events[i].location +"'/>";
                                                  div_html +=  "</br>";
                                                  div_html += "Start Time: <input type='text' value= '"+ events[i].start_time +"'/>";
                                                  div_html +=  "</br>";
                                                  div_html += "End Time: <input type='text' value= '"+ events[i].end_time +"'/>";
                                                  div_html +=  "</br>";
                                                  div_html += "Voting Status: <input type='text' value= '"+ events[i].status +"'/>";
                                                  div_html +=  "</br>";
                                                  div_html += "Voting Deadline: <input type='text' value= '"+ events[i].vote_deadline +"'/>";
                                                  div_html +=  "</br>";
                                                  div_html += "Resource URI: <input type='text' value= '"+ events[i].resource_uri +"'/>";
                                                  div_html +=  "</br>";
                                                  div_html += "Event ID: <input type='text' value= '"+ events[i].id +"'/>";
                                                  div_html += "</div>";
                                                  div_html += "<br />";
                                                  div_html += "<a class='event_edit_save' href='#'>SAVE</a>";
                                                  div_html += "</div>";
                                          }
                                          
                                          $("#editItinerary").html(div_html);
                                      });
                  });
              });
	</script>
</head>

<body>
	<div id="content">

<h1 class="pageTitle">{{ user.username }}'s Profile </h1>    
<div id="listItineraries">
<h2> Your Itineraries </h2>
<ul class="blockListing">
{% for itinerary in user.itinerary_set.all %}
    <li>
        <a href=/itinerary/{{ itinerary.id }}/>{{ itinerary.name }}</a>:
        <a href="#" id= {{ itinerary.id }} class="itenerary_edit_button"> Edit </a>
    </li>
{% endfor %}
</ul>
</div><!-- end div listItineraries -->

<div id="addItinerary">
<h2> Add New Itinerary </h2>
    <form method="post" action="/profile/">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
</div> <!-- end div addItinerary -->
<div id="editItinerary">
</div>
<!--<div id="inviteFriends">
<form method="post" action="/profile/"> 
Friends: <input type="text" name="friend1" /></br>
Friends: <input type="text" name="friend2" /></br>
Friends: <input type="text" name="friend3" /></br> 
<input type="submit" value="Submit" />
</form>
</div>--><!-- end div inviteFriends -->
<div style="clear:both"></div>
</div><!-- end div content -->
</body>
</html>

