<!DOCTYPE html>
<html>
<head>
	<title>Registration Complete :: Itinerod</title>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
</head>

<body>
	<div id="login-content">
		<h1 id="login-title">Itinerod</h1>
		<div id="login-methods">
        <h4>Activation complete! Your account is now active.</h4>
      <a href="/accounts/login/">Login!</a>
</div> <!-- end div login-content -->

<!-- Insert the navbar element somewhere in the HTML page -->

	</div><!-- end div content -->
</body>
</html>
