<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Register :: Itinerod</title>
	<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
	<script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
	
	<!-- Mobile Settings -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<script type="text/javascript">
	$(window).ready(function() {
		// Set placeholder text
		$('#id_username').attr('placeholder','username').focus();
		$('#id_password').attr('placeholder','password');
		$('#id_email').attr('placeholder','email');
		

	});
	</script>


</head>

<body>
	<div class="container">
		<div id="loginOutButton">
			<a href="/accounts/login">Log In</a>
		</div> <!-- end loginOutButton -->
		<div id="logo">
			<a href="/" class="nounderline"><h1 id="headerLogo">itinerod</h1></a>
			<h2 id="headerTagline">collaborative trip planning</h2>
		</div> <!-- end logo -->
	</div><!-- end container -->
	
	
	<div class="content" id="indexContent">
		<div class="container">
			<div class="eight columns offset-by-four">
			{% if form.errors %}
			<p class="error">Incorrect username or password.</p>
			{% endif %}

		        <form action="/accounts/login/" method="POST">{% csrf_token %}
		        	
		        	<label class="labelIcon" for="id_username"><img src="/media/images/icon-person.png"></img></label>
					{{ form.username }}
					
					<label class="labelIcon" for="id_email"><img src="/media/images/icon-key.png"></img></label>

					{{ form.password }}

	            <input class="orangeButton" type="submit" value="Log In" id="loginSubmit" />
		        </form>
		        <a class="signUp" href="/accounts/register">No account yet? Sign up!</a>
			</div>
	        
	        <a class="blueButton" id="googleLogin" href="/google/login">Log in with Google</a>
			
		</div><!-- end container -->
	</div> <!-- end content -->


</body>
</html>
