<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Registration Complete :: Itinerod</title>
	<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
	<script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
	
	<!-- Mobile Settings -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>
	<div class="container">
		<div id="loginOutButton">
			<a href="/accounts/login">Log In</a>
		</div> <!-- end loginOutButton -->
		<div id="logo">
			<a href="/" class="nounderline"><h1 id="headerLogo">itinerod</h1></a>
			<h2 id="headerTagline">collaborative trip planning</h2>
		</div> <!-- end logo -->
	</div><!-- end container -->
	
	
	<div class="content" id="indexContent">
		<div class="container">
			<div class="eight columns offset-by-four">
				<h3>Registration closed. <a href="/accounts/login">Login?</a></h3>
			</div>
		</div><!-- end container -->
	</div> <!-- end content -->


</body>
</html>
