<!DOCTYPE html>
<html>
<head>
	<title>Registration :: Itinerod</title>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
</head>

    <body>
		<div id="login-content">
			<h1 id="login-title">Itinerod</h1>
			<div id="login-methods" class="register-methods">
        <h2>Register</h2>
        <form action="/accounts/register/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input type="submit" value="Submit" />
        </p>
        </form>
		</div><!-- end div login-methods -->
		</div><!-- end div login-content -->
    </body>
</html>
